 @model User
@{
	ViewData["Title"] = "Profile Page";
}
<div class="container-fluid">
	<div class="row mt-5">
		<!-- Tools part -->
		<div class="col-3">
			<div class="new-container mt-5">
				<ul class="new-list cursor-pointer">
					<li class="border-top" data-target="account-overview" data-href="@Url.Action("Overview", "Profile", new { id = Model.Id })">
						<i class="bi bi-house-door"></i><span>Account Overview</span>
					</li>
					<li data-target="my-details" data-href="@Url.Action("Edit", "Profile")">
						<i class="bi bi-person-lines-fill"></i><span> My Details</span>
					</li>
					<li data-target="bank-accounts" data-href="@Url.Action("BankAccount", "Profile", new { id = Model.Id })">
						<i class="bi bi-credit-card"></i><span> Bank Account</span>
					</li>
					<li data-target="order-history" data-href="@Url.Action("OrderHistory", "Profile", new { id = Model.Id })">
						<i class="bi bi-cart-check"></i><span> Order History</span>
					</li>
					<li data-target="customsr-service">
						<i class="bi bi-headset"></i><span> Customer Service</span>
					</li>
					<li data-target="change-password" data-href="@Url.Action("ChangePassword", "Profile")">
						<i class="bi bi-key"></i><span> Change Password</span>
					</li>
					<li id="sign-out">
						<i class="bi bi-box-arrow-right"></i><span> Sign Out</span>
					</li>
				</ul>
			</div>
		</div>
		<!-- Information part -->
		<div class="col-9">
			<div class="container mt-5">
				<!-- ACCOUNT OVERVIEW -->
				<div id="account-overview" class="detail-form d-none">
					@await Html.PartialAsync("_AccountOverviewView")
				</div>
				<!-- Customsr Service -->
				<div id="customsr-service" class="detail-form d-none">
					<h3 class="font-weight-bold h3-color">CUSTOMER SERVICE</h3>
					<!-- Add the Bootstrap Icons stylesheet -->
					<div class="container mt-5">
						<div class="service-item">
							<div class="icon-circle">
								<i class="bi bi-telephone"></i>
							</div>
							<div>
								<h5>Phone Customer Services</h5>
								<p class="service-text">020 3805 6666</p>
							</div>
						</div>
						<div class="service-item">
							<div class="icon-circle">
								<i class="bi bi-envelope"></i>
							</div>
							<div>
								<p>Email Customer Services</p>
								<p class="service-text">sales@thewhiskyworld.com</p>
							</div>
						</div>
						<div class="service-item">
							<div class="icon-circle">
								<i class="bi bi-geo-alt"></i>
							</div>
							<div>
								<h5>Registered Address</h5>
								<p class="service-text">90 Oldhill Street, London N16 6NA UK</p>
							</div>
						</div>
					</div>
				</div>
				<!-- CHANGE PASSWORD -->
				<div id="change-password" class="detail-form d-none"></div>
				<!-- MY DETAILS -->
				<div id="my-details" class="detail-form d-none"></div>
				<!-- BANK ACCOUNTS -->
				<div id="bank-accounts" class="detail-form d-none"></div>
				<!-- Order History -->
				<div id="order-history" class="detail-form d-none"></div>
			</div>
		</div>
	</div>
</div>

<script src="~/js/profile.js"></script>



